/*
Brand Colors
Dark Teal #147F8A
Light Teal #44BBC5
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
 }





p {
    font-size: 32px;
    line-height: 1;

}

.teal_words {
    color: #147F8A;
    font-weight: 700;
}

.medalign_card {
    width: 500px;
    background-color: #44BBC5;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 2px solid slategray;
    padding-bottom: 15px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
    
}  


