/*
Brand Colors
Dark Teal #147F8A
Light Teal #44BBC5
*/


*{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}
.container {
    font-family: 'poppins', sans-serif;
    text-align: center;
    max-width: 1400px;
    margin: 20px auto;
    line-height: 1;
}

.medalign_heading {
   color: #147F8A;
   max-width: 500px;
   margin: 0 auto;
   font-size: 40px;
   word-spacing: -2px;
   border: 10px solid #44BBC5;
   border-radius: 20px;
   margin-bottom: 50px;
   padding: 20px 5px;
}

.medalign_para {
    font-size: 40px;
    word-spacing: 2px;
    line-height: 1.5;
}

.teal_words {
    color: #147F8A;
    font-weight: 700;
    font-size: 40px;
}
    

